Repository JimmyDore/mediajanitor: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, frontend-check

mypy:
  name: mypy
  entry: bash -c 'cd backend && uv run mypy app/'
  language: system
  pass_filenames: false

frontend-check:
  name: frontend check
  entry: bash -c 'cd frontend && npm run check'
  language: system
  pass_filenames: false

docs: [US-61.3] fix README.md git clone URLs
  README.md
  prd.json
Due: none

test(backend): [US-60.4] add nicknames service tests
  backend/tests/test_nicknames_service.py
  prd.json
  progress.txt
Due: none

infra(docker): [US-62.2] add container memory limits
  CLAUDE.md
  docker-compose.yml
  prd.json
Due: none

feat(a11y): [US-56.1] improve placeholder text contrast
  frontend/src/app.css
  prd.json
Due: none

fix: add IS_SANDBOX=1 env var for --skip-permissions on root
  ralph.py
Due: none

feat(api): [US-63.3] add episode_additions to recently available API
  backend/app/models/content.py
  backend/app/services/content_queries.py
  backend/tests/test_content.py
  prd.json
Due: mypy

refactor(backend): [US-57.2] extract generic whitelist service base class
  backend/app/services/whitelist.py
  backend/app/services/whitelist_base.py
  backend/tests/test_content.py
  prd.json
Due: mypy

test(backend): [US-60.7] add tasks module tests
  backend/tests/test_tasks.py
  prd.json
  progress.txt
Due: none

chore: update manual todo list
  manual_todo.md
Due: none

test(backend): [US-60.6] add radarr service tests
  backend/tests/test_radarr_service.py
  prd.json
Due: none

feat(ralph): improve rate limit handling and add session management
  ralph.py
Due: none

perf(backend): [US-59.4] optimize sync season size calculation
  backend/app/services/sync.py
  backend/tests/test_sync.py
  prd.json
  progress.txt
Due: mypy

refactor(backend): [US-57.1] split content.py into focused modules
  backend/app/services/content.py
  backend/app/services/content_analysis.py
  backend/app/services/content_queries.py
  backend/app/services/whitelist.py
  prd.json
Due: mypy

infra(deploy): [US-62.6] implement rolling deployment for zero-downtime updates
  .github/workflows/deploy.yml
  CLAUDE.md
  prd.json
  progress.txt
Due: none

wip
  PRD.md
  manual_todo.md
  progress.txt
Due: none

docs: [US-61.2] update CLAUDE.md skills list
  CLAUDE.md
  prd.json
Due: none

feat(routing): [US-53.1] add /dashboard route alias
  frontend/src/routes/dashboard/+page.ts
  prd.json
Due: frontend-check

feat(settings): convert thresholds page to debounced auto-save
  frontend/src/routes/settings/thresholds/+page.svelte
Due: frontend-check

refactor(backend): [US-57.3] consolidate whitelist router endpoints
  backend/app/routers/whitelist.py
  prd.json
  progress.txt
Due: mypy

infra(docker): [US-62.1] add Celery container health checks
  docker-compose.yml
  prd.json
  progress.txt
Due: none

test(backend): [US-60.3] add jellyfin service tests
  backend/tests/test_jellyfin_service.py
  prd.json
  progress.txt
Due: none

feat(settings): [US-55.1] standardize auto-save behavior
  frontend/src/lib/stores/index.ts
  frontend/src/routes/settings/display/+page.svelte
  frontend/tests/settings-autosave.test.ts
  prd.json
Due: frontend-check

infra(deploy): [US-62.4] add deployment rollback mechanism
  .github/workflows/deploy.yml
  prd.json
  progress.txt
Due: none

feat(routing): [US-53.2] redirect authenticated users from login/register
  frontend/src/routes/login/+page.svelte
  frontend/src/routes/register/+page.svelte
  frontend/tests/auth-redirect.test.ts
  prd.json
Due: frontend-check

perf(backend): [US-59.1] parallelize content summary queries
  backend/app/services/content_queries.py
  backend/tests/test_content.py
  prd.json
  progress.txt
Due: mypy

feat(ui): [US-58.1] extract Issues page components
  frontend/src/lib/components/DeleteConfirmModal.svelte
  frontend/src/lib/components/DurationPickerModal.svelte
  frontend/src/lib/components/IssueFilters.svelte
  frontend/src/lib/components/IssueRow.svelte
  frontend/src/routes/issues/+page.svelte
  prd.json
Due: frontend-check

feat(infra): [US-62.7] enhance health endpoint with dependency checks
  backend/app/main.py
  backend/tests/test_main.py
  prd.json
Due: mypy

test(backend): [US-60.2] add auth router tests
  backend/tests/test_auth.py
  prd.json
  progress.txt
Due: none

feat(content): [US-63.2] implement smart episode grouping logic
  backend/app/services/content.py
  backend/app/services/content_queries.py
  backend/tests/test_episode_grouping.py
  prd.json
  progress.txt
Due: mypy

feat(sync): [US-63.1] fetch Sonarr history during sync
  backend/app/services/sonarr.py
  backend/app/services/sync.py
  backend/tests/test_sonarr_service.py
  backend/tests/test_sync.py
  prd.json
  progress.txt
Due: mypy

fix(celery): resolve event loop closed error in scheduled sync
  backend/app/tasks.py
Due: mypy

perf(backend): [US-59.2] parallelize content issues queries
  backend/app/services/content_queries.py
  prd.json
  progress.txt
Due: mypy

test(backend): [US-60.5] add sonarr service tests
  backend/tests/test_sonarr_service.py
  prd.json
Due: none

test(backend): [US-60.1] add content cache service tests
  backend/tests/test_content_cache_service.py
  prd.json
  progress.txt
Due: none

feat: add --skip-permissions flag to ralph.py
  ralph.py
Due: none

docs: mark 18 user stories as complete
  PRD.md
  progress.txt
Due: none

fix(ui): redesign Issues table for mobile with card-based layout
  frontend/src/routes/issues/+page.svelte
Due: frontend-check

fix(docker): remove start_period for older docker-compose compatibility
  docker-compose.yml
Due: none

fix(docker): install curl in backend for healthcheck
  backend/Dockerfile
Due: none

chore: trigger pipeline
  backend/Dockerfile
Due: none

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  frontend-check: any of: ^frontend/.*\.(ts|svelte)$
