Repository JimmyDore/mediajanitor: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, frontend-check

mypy:
  name: mypy
  entry: bash -c 'cd backend && uv run mypy app/'
  language: system
  pass_filenames: false

frontend-check:
  name: frontend check
  entry: bash -c 'cd frontend && npm run check'
  language: system
  pass_filenames: false

fix(docker): use CMD-SHELL for celery-worker healthcheck
  docker-compose.yml
Due: none

fix(docker): escape HOSTNAME in celery-worker healthcheck
  docker-compose.yml
Due: none

fix(docker): install procps for pgrep in celery-beat healthcheck
  backend/Dockerfile
Due: none

docs: archive completed epics 53, 55-63 (36 stories)
  ARCHIVED_PRD.md
  ARCHIVED_PROGRESS.txt
  PRD.md
  progress.txt
Due: none

chore: update personal todo notes
  manual_todo.md
Due: none

feat(prd): add Epic 64 - Pre-Sync Library Refresh
  PRD.md
  prd.json
Due: none

feat(sync): [US-64.1] add trigger_jellyfin_library_refresh function
  backend/app/services/sync.py
  backend/tests/test_library_refresh.py
  prd.json
  progress.txt
Due: mypy

feat(sync): [US-64.2] add wait_for_jellyfin_scan_completion function
  backend/app/services/sync.py
  backend/tests/test_jellyfin_scan_polling.py
  prd.json
Due: mypy

feat(sync): [US-64.3] add trigger_jellyseerr_library_sync function
  backend/app/services/sync.py
  backend/tests/test_jellyseerr_library_sync.py
  prd.json
Due: mypy

feat(sync): [US-64.4] add wait_for_jellyseerr_sync_completion function
  backend/app/services/sync.py
  backend/tests/test_jellyseerr_sync_polling.py
  prd.json
Due: mypy

feat(sync): [US-64.5] integrate library refresh into sync flow
  backend/app/services/sync.py
  backend/tests/test_library_refresh_integration.py
  backend/tests/test_sync_mocked_integration.py
  prd.json
  progress.txt
Due: mypy

docs: add respx mocking pattern for HTTP integration tests
  CLAUDE.md
Due: none

fix(whitelist): allow re-whitelisting after expiration
  backend/app/services/whitelist.py
  backend/app/services/whitelist_base.py
  backend/tests/test_whitelist_expired_rewhitelist.py
Due: mypy

fix(issues): trust media.status for availability in Unavailable tab
  backend/app/services/content_analysis.py
  backend/tests/test_content.py
Due: mypy

chore(skills): add prod investigation to /fix skill and add .superset config
  .claude/skills/fix/SKILL.md
  .claude/skills/fix/references/investigation-checklist.md
  .claude/skills/fix/references/prod-investigation.md
  .superset/config.json
Due: none

feat(whitelist): add sort by added/expiration date
  frontend/src/lib/whitelist-sort.ts
  frontend/src/routes/whitelist/+page.svelte
  frontend/tests/whitelist-sort.test.ts
Due: frontend-check

chore: ignore .codex config directory
  .gitignore
Due: none

feat(ui): confirm content deletion with Enter key
  frontend/src/lib/components/DeleteConfirmModal.svelte
  frontend/tests/delete-modal-enter.test.ts
  frontend/tests/issues-auto-focus.test.ts
  frontend/vite.config.ts
Due: frontend-check

fix(issues): restore row styles lost in IssueRow extraction
  frontend/src/lib/components/IssueRow.svelte
  frontend/src/routes/issues/+page.svelte
  frontend/tests/issue-row-card.test.ts
Due: frontend-check

fix(ui): make app shell and pages responsive on small screens
  frontend/src/app.css
  frontend/src/lib/components/DeleteConfirmModal.svelte
  frontend/src/lib/components/DurationPickerModal.svelte
  frontend/src/lib/components/IssueFilters.svelte
  frontend/src/lib/components/SearchInput.svelte
  frontend/src/lib/components/Sidebar.svelte
  frontend/src/routes/+layout.svelte
  frontend/src/routes/info/recent/+page.svelte
  frontend/src/routes/library/+page.svelte
  frontend/src/routes/settings/+layout.svelte
  frontend/src/routes/settings/users/+page.svelte
  frontend/src/routes/whitelist/+page.svelte
Due: frontend-check

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  frontend-check: any of: ^frontend/.*\.(ts|svelte)$
