Repository JimmyDore/mediajanitor: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, frontend-check

mypy:
  name: mypy
  entry: bash -c 'cd backend && uv run mypy app/'
  language: system
  pass_filenames: false

frontend-check:
  name: frontend check
  entry: bash -c 'cd frontend && npm run check'
  language: system
  pass_filenames: false

test(backend): [US-60.6] add radarr service tests
  backend/tests/test_radarr_service.py
  prd.json
Due: none

wip
  PRD.md
  manual_todo.md
  progress.txt
Due: none

feat: add --skip-permissions flag to ralph.py
  ralph.py
Due: none

fix: add IS_SANDBOX=1 env var for --skip-permissions on root
  ralph.py
Due: none

test(backend): [US-60.7] add tasks module tests
  backend/tests/test_tasks.py
  prd.json
  progress.txt
Due: none

docs: [US-61.1] fix CLAUDE.md port documentation
  CLAUDE.md
  prd.json
Due: none

docs: [US-61.2] update CLAUDE.md skills list
  CLAUDE.md
  prd.json
Due: none

docs: [US-61.3] fix README.md git clone URLs
  README.md
  prd.json
Due: none

infra(docker): [US-62.1] add Celery container health checks
  docker-compose.yml
  prd.json
  progress.txt
Due: none

infra(docker): [US-62.2] add container memory limits
  CLAUDE.md
  docker-compose.yml
  prd.json
Due: none

infra(docker): [US-62.3] configure log rotation for all containers
  docker-compose.yml
  prd.json
Due: none

infra(deploy): [US-62.4] add deployment rollback mechanism
  .github/workflows/deploy.yml
  prd.json
  progress.txt
Due: none

infra(deploy): [US-62.6] implement rolling deployment for zero-downtime updates
  .github/workflows/deploy.yml
  CLAUDE.md
  prd.json
  progress.txt
Due: none

feat(infra): [US-62.7] enhance health endpoint with dependency checks
  backend/app/main.py
  backend/tests/test_main.py
  prd.json
Due: mypy

feat(sync): [US-63.1] fetch Sonarr history during sync
  backend/app/services/sonarr.py
  backend/app/services/sync.py
  backend/tests/test_sonarr_service.py
  backend/tests/test_sync.py
  prd.json
  progress.txt
Due: mypy

feat(content): [US-63.2] implement smart episode grouping logic
  backend/app/services/content.py
  backend/app/services/content_queries.py
  backend/tests/test_episode_grouping.py
  prd.json
  progress.txt
Due: mypy

feat(api): [US-63.3] add episode_additions to recently available API
  backend/app/models/content.py
  backend/app/services/content_queries.py
  backend/tests/test_content.py
  prd.json
Due: mypy

feat(ui): [US-63.4] display episode-level info in recently available
  frontend/src/routes/info/recent/+page.svelte
  frontend/tests/recent-episode-details.test.ts
  prd.json
Due: frontend-check

feat(routing): [US-53.1] add /dashboard route alias
  frontend/src/routes/dashboard/+page.ts
  prd.json
Due: frontend-check

feat(routing): [US-53.2] redirect authenticated users from login/register
  frontend/src/routes/login/+page.svelte
  frontend/src/routes/register/+page.svelte
  frontend/tests/auth-redirect.test.ts
  prd.json
Due: frontend-check

feat(settings): [US-55.1] standardize auto-save behavior
  frontend/src/lib/stores/index.ts
  frontend/src/routes/settings/display/+page.svelte
  frontend/tests/settings-autosave.test.ts
  prd.json
Due: frontend-check

feat(a11y): [US-56.1] improve placeholder text contrast
  frontend/src/app.css
  prd.json
Due: none

feat(a11y): [US-56.2] use semantic HTML on landing page
  frontend/src/lib/components/Landing.svelte
  prd.json
Due: frontend-check

feat(ui): [US-58.1] extract Issues page components
  frontend/src/lib/components/DeleteConfirmModal.svelte
  frontend/src/lib/components/DurationPickerModal.svelte
  frontend/src/lib/components/IssueFilters.svelte
  frontend/src/lib/components/IssueRow.svelte
  frontend/src/routes/issues/+page.svelte
  prd.json
Due: frontend-check

feat(api): [US-59.3] add server-side pagination to library endpoint
  backend/app/models/content.py
  backend/app/routers/library.py
  backend/app/services/content_queries.py
  backend/tests/test_library.py
  frontend/src/routes/library/+page.svelte
  frontend/tests/library-pagination.test.ts
  prd.json
Due: mypy, frontend-check

feat(settings): convert thresholds page to debounced auto-save
  frontend/src/routes/settings/thresholds/+page.svelte
Due: frontend-check

feat(ralph): improve rate limit handling and add session management
  ralph.py
Due: none

docs: mark 18 user stories as complete
  PRD.md
  progress.txt
Due: none

chore: update manual todo list
  manual_todo.md
Due: none

fix(celery): resolve event loop closed error in scheduled sync
  backend/app/tasks.py
Due: mypy

fix(ui): improve title alignment in Issues table for mobile and desktop
  frontend/src/routes/issues/+page.svelte
Due: frontend-check

fix(content): fix season_info lookup in recently available API
  backend/app/services/content.py
  backend/tests/test_content.py
Due: mypy

refactor(backend): [US-57.4] move business logic from content router to services
  backend/app/routers/content.py
  backend/app/services/content.py
  backend/app/services/content_cache.py
  prd.json
Due: mypy

feat(skills): add Step 0 to QA skills + new product-ideation skill
  .claude/skills/product-ideation/SKILL.md
  .claude/skills/qa-accessibility/SKILL.md
  .claude/skills/qa-api-contracts/SKILL.md
  .claude/skills/qa-architecture/SKILL.md
  .claude/skills/qa-documentation/SKILL.md
  .claude/skills/qa-infra/SKILL.md
  .claude/skills/qa-performance/SKILL.md
  .claude/skills/qa-security/SKILL.md
  .claude/skills/qa-test-coverage/SKILL.md
  .claude/skills/qa-ux/SKILL.md
Due: none

fix(ui): extend card layout breakpoint to 1352px for Issues table
  frontend/src/routes/issues/+page.svelte
Due: frontend-check

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  frontend-check: any of: ^frontend/.*\.(ts|svelte)$
