Repository JimmyDore/mediajanitor: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, frontend-check

mypy:
  name: mypy
  entry: bash -c 'cd backend && uv run mypy app/'
  language: system
  pass_filenames: false

frontend-check:
  name: frontend check
  entry: bash -c 'cd frontend && npm run check'
  language: system
  pass_filenames: false

fix(ralph): restore live streaming output for Claude subprocess
  ralph.py
Due: none

feat(content): [US-49.3] delete requests from cache after Jellyseerr deletion
  backend/app/routers/content.py
  backend/tests/test_delete_content.py
  prd.json
Due: mypy

test(settings): add Ultra.cc seedbox API settings tests (US-48.1)
  backend/tests/test_settings.py
Due: none

chore(security): sanitize credentials and remove original script
  .claude/skills/original-script/SKILL.md
  .env.example
  backend/tests/test_integration.py
  backend/tests/test_large_movies_validation.py
  original_script.py
Due: none

feat(settings): [US-48.3] add Ultra.cc warning thresholds settings
  backend/alembic/versions/20260122_082946_26a3b23ff8ca_add_ultra_warning_thresholds_to_user_.py
  backend/app/database.py
  backend/app/models/settings.py
  backend/app/routers/settings.py
  backend/tests/test_settings.py
  frontend/src/routes/settings/connections/+page.svelte
  frontend/tests/settings-ultra-thresholds.test.ts
  prd.json
  progress.txt
Due: mypy, frontend-check

feat(auth): add DISABLE_SIGNUPS feature flag to block new registrations
  .github/workflows/deploy.yml
  backend/app/config.py
  backend/app/routers/auth.py
  backend/tests/test_auth.py
  frontend/src/routes/register/+page.svelte
Due: mypy, frontend-check

docs: remove placeholder screenshots section from README
  OpenSource_todo.md
  README.md
Due: none

feat(sync): [US-51.1] fetch episode details during sync for status 4 TV shows
  backend/app/services/sync.py
  backend/tests/test_sync.py
  prd.json
  progress.txt
Due: mypy

feat(content): [US-51.2] include ongoing series with recent episodes in recently available
  backend/app/services/content.py
  backend/tests/test_content.py
  prd.json
  progress.txt
Due: mypy

feat(content): [US-51.3] add season/episode details to recently available API
  backend/app/models/content.py
  backend/app/services/content.py
  backend/tests/test_content.py
  prd.json
  progress.txt
Due: mypy

feat(ui): [US-48.2] add Ultra API settings frontend tests
  frontend/tests/settings-ultra.test.ts
  prd.json
Due: frontend-check

feat(dashboard): [US-48.5] display Ultra seedbox stats on dashboard
  backend/app/models/settings.py
  backend/app/routers/settings.py
  backend/tests/test_settings.py
  frontend/src/routes/+page.svelte
  frontend/tests/dashboard-seedbox.test.ts
  prd.json
  progress.txt
Due: mypy, frontend-check

feat(ui): [US-50.1] update whitelist duration options
  frontend/src/routes/issues/+page.svelte
  frontend/tests/whitelist-duration.test.ts
  prd.json
  progress.txt
Due: frontend-check

feat(ui): [US-51.4] display episode details in Recently Available
  frontend/src/routes/info/recent/+page.svelte
  frontend/tests/recent-episode-details.test.ts
  prd.json
Due: frontend-check

feat(sync): [US-52.1] cache episode language data during sync
  backend/alembic/versions/20260123_013914_6443d327371b_add_language_check_fields_to_cached_.py
  backend/app/database.py
  backend/app/services/sync.py
  backend/tests/test_sync.py
  prd.json
Due: mypy

feat(content): [US-52.2] use cached language data in content service
  backend/app/models/content.py
  backend/app/services/content.py
  backend/tests/test_content.py
  prd.json
Due: mypy

feat(whitelist): [US-52.3] per-episode language whitelist backend
  backend/alembic/versions/20260123_020139_6033f4a29b44_add_episode_language_exempt_table.py
  backend/app/database.py
  backend/app/models/content.py
  backend/app/routers/whitelist.py
  backend/app/services/content.py
  backend/app/services/sync.py
  backend/tests/test_content.py
  backend/tests/test_sync.py
  prd.json
  progress.txt
Due: mypy

feat(ui): [US-52.4] display problematic episodes with whitelist actions
  frontend/src/routes/issues/+page.svelte
  frontend/tests/issues-episode-whitelist.test.ts
  prd.json
Due: frontend-check

feat(ui): [US-52.5] episode exemptions tab in Whitelist page
  frontend/src/routes/whitelist/+page.svelte
  frontend/tests/whitelist-episode-exempt.test.ts
  prd.json
Due: frontend-check

chore(skills): update QA skills and review-suggestions workflow
  .claude/commands/commit-everything.md
  .claude/skills/morning-routine/SKILL.md
  .claude/skills/qa-accessibility/SKILL.md
  .claude/skills/qa-api-contracts/SKILL.md
  .claude/skills/qa-architecture/SKILL.md
  .claude/skills/qa-documentation/SKILL.md
  .claude/skills/qa-infra/SKILL.md
  .claude/skills/qa-performance/SKILL.md
  .claude/skills/qa-security/SKILL.md
  .claude/skills/qa-test-coverage/SKILL.md
  .claude/skills/qa-ux/SKILL.md
  .claude/skills/ralph-init/SKILL.md
  .claude/skills/review-suggestions/SKILL.md
Due: none

chore(ralph): update Ralph CLI to use task runner
  CLAUDE.md
  Ralph.md
  ralph.py
Due: none

chore(prd): sync PRD progress and archive completed epics
  ARCHIVED_PRD.md
  ARCHIVED_PROGRESS.txt
  PRD.md
  prd.json
  progress.txt
Due: none

chore(docs): update suggestions and manual todo
  SUGGESTIONS.md
  manual_todo.md
Due: none

fix(ui): improve title alignment in Issues table for mobile and desktop
  frontend/src/routes/issues/+page.svelte
Due: frontend-check

fix(ui): redesign Issues table for mobile with card-based layout
  frontend/src/routes/issues/+page.svelte
Due: frontend-check

fix(ui): extend card layout breakpoint to 1352px for Issues table
  frontend/src/routes/issues/+page.svelte
Due: frontend-check

feat(skills): add Step 0 to QA skills + new product-ideation skill
  .claude/skills/product-ideation/SKILL.md
  .claude/skills/qa-accessibility/SKILL.md
  .claude/skills/qa-api-contracts/SKILL.md
  .claude/skills/qa-architecture/SKILL.md
  .claude/skills/qa-documentation/SKILL.md
  .claude/skills/qa-infra/SKILL.md
  .claude/skills/qa-performance/SKILL.md
  .claude/skills/qa-security/SKILL.md
  .claude/skills/qa-test-coverage/SKILL.md
  .claude/skills/qa-ux/SKILL.md
Due: none

fix(content): fix season_info lookup in recently available API
  backend/app/services/content.py
  backend/tests/test_content.py
Due: mypy

refactor(backend): [US-57.1] split content.py into focused modules
  backend/app/services/content.py
  backend/app/services/content_analysis.py
  backend/app/services/content_queries.py
  backend/app/services/whitelist.py
  prd.json
Due: mypy

refactor(backend): [US-57.2] extract generic whitelist service base class
  backend/app/services/whitelist.py
  backend/app/services/whitelist_base.py
  backend/tests/test_content.py
  prd.json
Due: mypy

refactor(backend): [US-57.3] consolidate whitelist router endpoints
  backend/app/routers/whitelist.py
  prd.json
  progress.txt
Due: mypy

refactor(backend): [US-57.4] move business logic from content router to services
  backend/app/routers/content.py
  backend/app/services/content.py
  backend/app/services/content_cache.py
  prd.json
Due: mypy

perf(backend): [US-59.1] parallelize content summary queries
  backend/app/services/content_queries.py
  backend/tests/test_content.py
  prd.json
  progress.txt
Due: mypy

perf(backend): [US-59.2] parallelize content issues queries
  backend/app/services/content_queries.py
  prd.json
  progress.txt
Due: mypy

perf(backend): [US-59.4] optimize sync season size calculation
  backend/app/services/sync.py
  backend/tests/test_sync.py
  prd.json
  progress.txt
Due: mypy

test(backend): [US-60.1] add content cache service tests
  backend/tests/test_content_cache_service.py
  prd.json
  progress.txt
Due: none

test(backend): [US-60.2] add auth router tests
  backend/tests/test_auth.py
  prd.json
  progress.txt
Due: none

test(backend): [US-60.3] add jellyfin service tests
  backend/tests/test_jellyfin_service.py
  prd.json
  progress.txt
Due: none

test(backend): [US-60.4] add nicknames service tests
  backend/tests/test_nicknames_service.py
  prd.json
  progress.txt
Due: none

test(backend): [US-60.5] add sonarr service tests
  backend/tests/test_sonarr_service.py
  prd.json
Due: none

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  frontend-check: any of: ^frontend/.*\.(ts|svelte)$
