Repository JimmyDore/mediajanitor: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, frontend-check

mypy:
  name: mypy
  entry: bash -c 'cd backend && uv run mypy app/'
  language: system
  pass_filenames: false

frontend-check:
  name: frontend check
  entry: bash -c 'cd frontend && npm run check'
  language: system
  pass_filenames: false

feat(skills): add qa-infra skill for infrastructure QA checks
  .claude/skills/qa-infra/SKILL.md
  ralph.py
Due: none

chore(prd): add Epic 52 - TV Series Language Detection
  PRD.md
  manual_todo.md
  prd.json
Due: none

test(e2e): skip backend-dependent tests in CI
  frontend/e2e/auth-flow.spec.ts
  frontend/e2e/header.spec.ts
  frontend/e2e/settings.spec.ts
Due: frontend-check

test: skip backend-dependent integration tests in CI
  backend/tests/test_integration.py
  backend/tests/test_large_movies_validation.py
Due: none

test: trigger CI
  README.md
  manual_todo.md
Due: none

docs: add LICENSE and README for open source release
  LICENSE
  OpenSource_todo.md
  README.md
Due: none

chore(security): sanitize credentials and remove original script
  .claude/skills/original-script/SKILL.md
  .env.example
  backend/tests/test_integration.py
  backend/tests/test_large_movies_validation.py
  original_script.py
Due: none

chore: clean up manual_todo.md
  manual_todo.md
Due: none

fix(ralph): restore live streaming output for Claude subprocess
  ralph.py
Due: none

chore(docs): update todo lists and reddit post notes
  OpenSource_todo.md
  manual_todo.md
Due: none

test(settings): add Ultra.cc seedbox API settings tests (US-48.1)
  backend/tests/test_settings.py
Due: none

feat(settings): [US-48.1] add Ultra.cc seedbox API settings backend
  backend/alembic/versions/20260122_081716_30dd116f11f8_add_ultra_api_settings_to_user_settings.py
  backend/app/database.py
  backend/app/models/settings.py
  backend/app/routers/settings.py
  backend/app/services/ultra.py
  prd.json
  progress.txt
Due: mypy

feat(settings): [US-48.3] add Ultra.cc warning thresholds settings
  backend/alembic/versions/20260122_082946_26a3b23ff8ca_add_ultra_warning_thresholds_to_user_.py
  backend/app/database.py
  backend/app/models/settings.py
  backend/app/routers/settings.py
  backend/tests/test_settings.py
  frontend/src/routes/settings/connections/+page.svelte
  frontend/tests/settings-ultra-thresholds.test.ts
  prd.json
  progress.txt
Due: mypy, frontend-check

feat(sync): [US-48.4] fetch Ultra.cc stats during sync
  backend/alembic/versions/20260122_084814_54b0e03433c5_add_ultra_stats_columns_to_user_settings.py
  backend/app/database.py
  backend/app/services/sync.py
  backend/app/services/ultra.py
  backend/tests/test_ultra_service.py
  prd.json
Due: mypy

feat(content): [US-49.1] delete movies from cache after Radarr deletion
  backend/app/routers/content.py
  backend/tests/test_delete_content.py
  prd.json
  progress.txt
Due: mypy

feat(content): [US-49.2] delete series from cache after Sonarr deletion
  backend/app/routers/content.py
  backend/tests/test_delete_content.py
  prd.json
  progress.txt
Due: mypy

feat(content): [US-49.3] delete requests from cache after Jellyseerr deletion
  backend/app/routers/content.py
  backend/tests/test_delete_content.py
  prd.json
Due: mypy

feat(auth): add DISABLE_SIGNUPS feature flag to block new registrations
  .github/workflows/deploy.yml
  backend/app/config.py
  backend/app/routers/auth.py
  backend/tests/test_auth.py
  frontend/src/routes/register/+page.svelte
Due: mypy, frontend-check

docs: sanitize personal info for open source release
  .claude/skills/prd-sync/SKILL.md
  .claude/skills/qa-infra/SKILL.md
  .env.example
  .gitignore
  CLAUDE.md
  OpenSource_todo.md
Due: none

chore: update project tracking and QA suggestions
  SUGGESTIONS.md
  manual_todo.md
  progress.txt
Due: none

docs: add demo video to README
  OpenSource_todo.md
  README.md
  manual_todo.md
Due: none

chore(backend): fix ruff linting and formatting errors
  backend/app/routers/content.py
  backend/app/routers/settings.py
  backend/app/services/ultra.py
  backend/tests/test_delete_content.py
  backend/tests/test_ultra_service.py
Due: mypy

chore: update manual todo list
  manual_todo.md
Due: none

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  frontend-check: any of: ^frontend/.*\.(ts|svelte)$
